<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Develop by edy | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Following this <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      I am doing this app to learn a little aboout this amazing language =)
      
    </p>
  </body>
</html>