<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title> Help Section | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p> This supposed to be a help section, but do you really need help for how to use a twitter app ?? CMON
    
    </p>
  </body>
</html>s