<footer class="footer">
  <small>
    Twitter Reload  by Edymerchk
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", "mailto:edyhack@gmail.com" %></li>
      <li><a href="http://edymerchk.com/">Web</a></li>
    </ul>
  </nav>
</footer>